.text-xl-center{
  font-size: 50px;
}

.row{
  
}

.col-sm-4{
  background-color: wheat;
  height: 300px;
}

.col-sm-8{
  background-color: antiquewhite;
  height: 300px;
}

.row2{
  background-color: blanchedalmond;
  height: 300px;
}

.row .footer{
  background-color: aquamarine;
  height: 150px;
}